doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title JavaScript.ru
        style.
            .container { padding: 0 100px; }



    body.container
        h3 Email conformation
        p Please got to link below to complete registration
        p
            a(href='http://localhost:' + port + '/api/confirm/' + token) Confirm registration

        footer
            p Best regards
